<button class="voteButton" id="buttonTrue">Vote Up</button>
<button class="voteButton" id="buttonFalse">Vote Down</button>
<p id="voteCount">лайков {{ votes }}</p>

<style>
  .voteButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  #voteCount {
    font-size: 24px;
    margin-top: 20px;
  }
</style>

<script>
  var current_vote;
<!-- TODO: переделать current_button с EventListener -->
  var current_button;
  var voteCount = {{ votes|default_if_none:"0" }};
  var voted;


// Инициализация начального состояния кнопки
  if ("{{ vote_value|lower }}" == "none") {
    voted = null;
    current_vote = null;
  } else {
    voted = {{ vote_value|lower }};
    current_vote = {{ vote_value|lower }};
    if (current_vote) {
      document.getElementById('buttonTrue').classList.add('active');
    } else {
      document.getElementById('buttonFalse').classList.add('active');
    }
  }

// Функция для отправки запроса и увеличения voteCount, если состояние кнопки отличается от active
function handleClick(voteValue) {
    if (current_button.classList.contains('active')) {
      return;
    }

    let url = '{% url 'vote:ad_vote' ad_id=ad.id %}';
    if (voteValue) {
      voteCount++;
      document.getElementById('buttonTrue').classList.add('active');
      document.getElementById('buttonFalse').classList.remove('active');
    } else {
      voteCount--;
      document.getElementById('buttonTrue').classList.remove('active');
      document.getElementById('buttonFalse').classList.add('active');
    }

    // Создание объекта запроса
    const requestOptions = {
      method: 'POST',
      headers: {
        'X-CSRFToken': '{{ csrf_token }}',
        'voted': voteValue
      }
    };

    // Отправка POST запроса с помощью Fetch API
    fetch(url, requestOptions)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
      });

    document.getElementById('voteCount').textContent = voteCount;
  }

  // Обработчики событий для кнопок
  document.getElementById('buttonTrue').addEventListener('click', function() {
    current_button = document.getElementById('buttonTrue');
    handleClick(true);
  });

  document.getElementById('buttonFalse').addEventListener('click', function() {
    current_button = document.getElementById('buttonFalse');
    handleClick(false);
  });

  document.getElementById('voteCount').textContent = voteCount;
</script>
