<!--<button hx-get="{% url 'vote:ad_vote' ad_id=ad.id %}" type="button" class="btn btn-danger" data-toggle="button" aria-pressed="true" autocomplete="off">-->
<!--  Like-->
<!--</button>-->



<button id="voteButton" onclick="toggleVote()">Like</button>
<p id="voteCount">{{ votes }}</p>

<style>

#voteButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

#voteCount {
  font-size: 24px;
  margin-top: 20px;
}
</style>

<script>

var voteCount = {{ votes }};
var voted = false;



function toggleVote() {
let url = '{% url 'vote:ad_vote' ad_id=ad.id %}';
console.log(url);
if (voted) {
    voteCount--;
  } else {
    voteCount++;
    }

voted = !voted;


    // Create the request object
    const requestOptions = {
    method: 'POST',
    headers: {
    'X-CSRFToken': '{{ csrf_token }}',
    'voted': voted
    }
  };

  // Make the POST request using Fetch API
  fetch(url, requestOptions)
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
    })


  document.getElementById('voteCount').textContent = voteCount;
}


</script>