{% extends "base.html" %}


{% block content %}


<form hx-get="{% url 'search:search_result' %}" hx-target="#search_result" hx-swap="outerHTML" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
    <input type="text" name="search_query" class="form-control w-25" placeholder="Поиск...">
    <select id="category_selection" name="category" onchange='swap_options()'>
            <option value="ads">Объявления</option>
            <option value="specs">Специалисты</option>
    </select>
    <select id="attributes_selection" name="attributes">
            <option value="title">Название</option>
            <option value="text">Содержание</option>
    </select>
    <button type="submit">Искать</button>
</form>


<br><br><br><br>
<div id="search_result">
result
</div>


<script>
    var element = document.getElementById("category_selection");
    function swap_options() {
        var selected_value = element.value;
        var select = document.getElementById('attributes_selection');

        while (select.options.length > 0) {
            select.remove(0);
        }

        switch (selected_value) {
        case 'ads':
            var option1 = document.createElement('option');
            option1.value = 'ads';
            option1.text = 'Название';
            select.add(option1);

            var option2 = document.createElement('option');
            option2.value = 'specs';
            option2.text = 'Содержание';
            select.add(option2);
            break;
        case 'specs':
            var option1 = document.createElement('option');
            option1.value = 'name';
            option1.text = 'Имя';
            select.add(option1);

            var option2 = document.createElement('option');
            option2.value = 'specialization';
            option2.text = 'Специализация';
            select.add(option2);
            break;
        }
    }
</script>


<form action="/" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
    <input type="text" name="search_query" class="form-control w-25" placeholder="Поиск...">
    <select id="category_selection" name="category" onchange='swap_options()'>
            <option value="ads">Объявления</option>
            <option value="specs">Специалисты</option>
    </select>
    <select id="attributes_selection" name="attributes">
            <option value="title">Название</option>
            <option value="text">Содержание</option>
    </select>
    <button type="submit">Искать</button>
</form>

{% endblock content %}
