<div class="comment">
    <div class="comment-header">
        <!-- Commenter's name and avatar could go here -->
        <span class="commenter-name">{{ email }}</span>
    </div>
    <div class="comment-body">
        <!-- Actual comment content -->
        <p>{{ comment }}</p>
    </div>
    <div class="comment-footer">
        <!-- Options like reply, like, dislike, timestamp, etc. could go here -->
        <span class="comment-timestamp">Posted at {{ date_posted }}</span>
    </div>
</div>
<br>

<div id="replace"></div>